@use 'colors'as *;
@use 'variables'as *;

.backgroundImage {
    background-image: url("/src/images/background/landing_background.png");
    background-size: cover;
    margin: 0;
}

.headerCard {
    // padding-top: 20px;
    box-shadow: none;
    background-color: transparent;
    margin: 0px 60px 10px;
    color: color(alternate) !important;

    &__title {
        color: color(alternate) !important;
        font-size: 2.5em;
        padding: 0;
    }

}

.heroMain {
    height: 200px;
}

.heroCards {
    display: flex;
    flex-direction: row;
}

.landingText {
    color: white;
    font-weight: 600;
}

.cardOne {
    --background: var(--ion-color-primary-tint);
    --color: white;
    box-shadow: 0 8px 6px -6px black;

}

.cardTwo {
    --background: var(--ion-color-secondary);
    --color: white;
    box-shadow: 0 8px 6px -6px black;
}

.headerImage {
    --background-color: orange !important;

    padding: 10px;
}



ion-title {
    color: white;
}

.logoHere {
    height: 80px;
    float: right;
    width: 20%;
}

// .heroButton {
//     align-self: center;
// }