@use 'colors'as *;
@use 'variables'as *;

.backgroundImage {
    background-image: url("/src/images/background/landing_background.png");
    background-size: cover;
    margin: 0;
}

.headerCard {
    // padding-top: 20px;
    box-shadow: none;
    background-color: transparent;
    // margin: 0px 60px 10px;
    color: color(alternate) !important;

    &__title {
        background-color: transparent !important;
        color: color(alternate) !important;
        // font-size: 2.5rem;
        padding: 0;

    }

}

.heroMain {
    height: 200px;
}

.heroCards {
    display: flex;
    flex-direction: row;
}

.landingText {
    color: white;
    color: color(alternate);
    font-weight: 500;
}

.cardTransparent {
    // --background: var(--ion-color-primary-tint);
    color: color(alternate);
    // box-shadow: 0 8px 6px -6px black;
    border: none;
    box-shadow: none;
    --background: transparent;

}

// .cardOne {
//     --background: var(--ion-color-primary-tint);
//     --color: white;
//     box-shadow: 0 8px 6px -6px black;

// }

.cardTwo {
    --background: var(--ion-color-secondary);
    // --color: white;
    box-shadow: 0 8px 6px -6px black;
    border: none;
}

.headerImage {
    --background-color: orange !important;

    padding: 10px;
}



.menuWelcome {
    color: white;
    word-wrap: normal;
    font-size: 20px;
    text-align: left;
    padding: 20px;
}

.logoHere {
    height: 80px;
    float: right;
    width: 20%;
}

// .heroButton {
//     align-self: center;
// }