@use 'colors'as *;
@use 'variables'as *;
@use '../components/Menu'as *;
@use 'landing'as *;

.landingText {
    color: color(primary);
}

.footer {
    // --background: linear-gradient(333deg, rgba(104, 92, 242, 1) 0%, rgba(98, 197, 230, 1) 50%, rgba(101, 252, 226, 1) 100%);
    --background: transparent;
    padding-bottom: 10px;
}