/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */
/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #6094FC;
  --ion-color-primary-rgb: 96, 148, 252;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #5482de;
  --ion-color-primary-tint: #709ffc;
  /** secondary **/
  --ion-color-secondary: #62c5e6;
  --ion-color-secondary-rgb: 98,
  197,
  230;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,
  0,
  0;
  --ion-color-secondary-shade: #56adca;
  --ion-color-secondary-tint: #72cbe9;
  /** tertiary **/
  --ion-color-tertiary: #61FA9B;
  --ion-color-tertiary-rgb: 97,
  250,
  155;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,
  0,
  0;
  --ion-color-tertiary-shade: #55dc88;
  --ion-color-tertiary-tint: #71fba5;
  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45,
  211,
  111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,
  255,
  255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;
  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255,
  196,
  9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,
  0,
  0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;
  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235,
  68,
  90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,
  255,
  255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;
  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34,
  36,
  40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,
  255,
  255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;
  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146,
  148,
  156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,
  255,
  255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;
  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244,
  245,
  248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,
  0,
  0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}
:root .ion-color-primary {
  --ion-color-base: var(--ion-color-primary);
  --ion-color-base-rgb: var(--ion-color-primary-rgb);
  --ion-color-contrast: var(--ion-color-primary-contrast);
  --ion-color-contrast-rgb: var(--ion-color-primary-contrast-rgb);
  --ion-color-shade: var(--ion-color-primary-shade);
  --ion-color-tint: var(--ion-color-primary-tint);
}

:host {
  --side-max-width: 20% !important;
}

/* ion-menu ion-content {
  --background: var(--ion-item-background, var(--ion-background-color, #fff));
} */
.menuBackground {
  --background: linear-gradient(166deg, rgba(104, 92, 242, 1) 0%, rgba(98, 197, 230, 1) 50%, rgba(101, 252, 226, 1) 100%);
}

.toolbar-title {
  overflow: show;
}

.menuHamburger {
  --color: var(--ion-color-primary) !important;
}
.menuHamburger:hover {
  --color: white !important;
  opacity: 1;
  --background-hover-opacity: .5;
  --background-hover: var(--ion-color-secondary) !important;
}

.menu {
  --side-max-width: 30%;
}

.itemBackground {
  --background: transparent;
}

.list-md {
  --background: none !important;
  color: gray;
}

ion-menu.md ion-content {
  --padding-start: 8px;
  --padding-end: 8px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

ion-menu.md ion-list {
  padding: 20px 0;
}

ion-menu.md ion-note {
  margin-bottom: 30px;
}

ion-menu.md ion-list-header,
ion-menu.md ion-note {
  padding-left: 10px;
}

ion-menu.md ion-list#inbox-list {
  border-bottom: 1px solid var(--ion-color-step-150, #d7d8da);
}

ion-menu.md ion-list#inbox-list ion-list-header {
  font-size: 22px;
  font-weight: 600;
  min-height: 20px;
}

ion-menu.md ion-list#labels-list ion-list-header {
  font-size: 16px;
  margin-bottom: 18px;
  min-height: 26px;
}

ion-menu.md ion-item {
  --padding-start: 10px;
  --padding-end: 10px;
  border-radius: 4px;
}

ion-menu.md ion-item.selected {
  --background: rgba(var(--ion-color-primary-rgb), 0.14);
}

ion-menu.md ion-item.selected ion-icon {
  color: #fff;
}

ion-menu.md ion-item ion-icon {
  color: secondary;
}

ion-menu.md ion-item ion-label {
  font-weight: 500;
}

ion-menu.ios ion-content {
  --padding-bottom: 20px;
}

ion-menu.ios ion-list {
  padding: 20px 0 0 0;
}

ion-menu.ios ion-note {
  line-height: 24px;
  margin-bottom: 20px;
}

ion-menu.ios ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  --min-height: 50px;
}

ion-menu.ios ion-item ion-icon {
  font-size: 24px;
  color: #73849a;
}

ion-menu.ios ion-item .selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.ios ion-list#labels-list ion-list-header {
  margin-bottom: 8px;
}

ion-menu.ios ion-list-header,
ion-menu.ios ion-note {
  padding-left: 16px;
  padding-right: 16px;
}

ion-menu.ios ion-note {
  margin-bottom: 8px;
}

ion-note {
  display: inline-block;
  font-size: 16px;
  color: var(--ion-color-medium-shade);
}

ion-item.selected {
  --color: #fff;
}

ion-list {
  margin-left: 50px;
  display: inherit;
}

.backgroundImage {
  background-image: url("/src/images/background/landing_background.png");
  background-size: cover;
  margin: 0;
}

.headerCard {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  color: #34495e !important;
}
.headerCard__title {
  background-color: transparent !important;
  color: #34495e !important;
  padding: 0;
}

.heroMain {
  height: 200px;
}

.heroCards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.landingText {
  color: white;
  color: #34495e;
  font-weight: 500;
}

.cardTransparent {
  color: #34495e;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  --background: transparent;
}

.cardTwo {
  --background: var(--ion-color-secondary);
  -webkit-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
  border: none;
}

.headerImage {
  --background-color: orange !important;
  padding: 10px;
}

ion-title {
  color: white;
  word-wrap: normal;
  font-size: 20px;
  text-align: left;
  padding: 20px;
}

.logoHere {
  height: 80px;
  float: right;
  width: 20%;
}

.mainToolbar {
  --background: white;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-image: none;
}

.footer {
  --background: linear-gradient(333deg, rgba(104, 92, 242, 1) 0%, rgba(98, 197, 230, 1) 50%, rgba(101, 252, 226, 1) 100%);
  padding-bottom: 10px;
  border: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.ion-align-self-center {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 0;
}

.mainContainer {
  width: 80%;
}
/*# sourceMappingURL=index.css.map */